---
layout: default
title: Atosa Italy - Saladettes
permalink: /products/saladettes/
description:
---
{% include navbar.html %}

<div class="product scroll-fixer-controll">
  <div class="section-title"><a href="/products/saladettes/">saladettes</a></div>
  <div class="product-container">
    {% for product in site.products %}
      {% if product.family == 'Saladettes' %}
        <div class="product-card">
          <a href="{{ product.url }}">
            <div class="product-content-container">
              <div class="card-image"><img src="{{ product.img }}" alt=""></div>
              <h2>{{ product.title }}</h2>
              <p>{{ product.family }}</p>
              <p>{{ product.code }}</p>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% include footer.html %}
