---
layout: default
title: Atosa Italy - News
permalink: /news/
description:
---

{% include navbar.html %}

<div class="section-title paddings-x scroll-fixer-controll"><a href="/news/">latest news and updates</a></div>
<div class="news paddings-x">
  <div class="news-container">
    {% for new in site.news reversed %}
      <div class="post-container">
        <div class="post-date">{{ new.date | date_to_string }}</div>
        <div class="post-content-container">
          <a href="{{ new.url }}"><div class="post-image" style="background-image: url( {{ new.img }} )"></div></a>
          <div class="post-content">
            <h1>{{ new.title }}</h1>
            <h3>{{ new.subtitle }}</h3>
            <p>{{ new.excerpt }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% include footer.html %}
