<div class="section-divider"></div>
<footer class="footer-main">
  <div class="footer-container-1">
    <div class="story">
      <h5>Atosa</h5>
      <p>Atosa Catering Equipment è una società di alta tecnologia che unisce la ricerca scientifica, la progettazione, la produzione e la vendita di refrigerazione commerciale e utensili da cucina. Atosa è produttore leader nel settore delle attrezzature da cucina commerciale.</p>
    </div>
    <div class="footer-links">
      <div class="discover">
        <h5>Discover</h5>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/products/">Products</a></li>
          <li><a href="#">Warranty</a></li>
          <li><a href="#">Go Green with atosa</a></li>
        </ul>
      </div>
      <div class="fast-links">
        <h5>Fast Links</h5>
        <div class="ul-links">
          <ul>
            <li><a href="/news/">News</a></li>
            <li><a href="/products/">Products</a></li>
            <li><a href="/specials/">Specials</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
          <ul>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/offers/">Offers</a></li>
            <li><a href="/expo/">Expo</a></li>
            <li><a href="/sign-in/">Client Area</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container-2">
    <div class="footer-content-2">
      <a href="{{ site.url }}"><div class="logo-mono"></div></a>
      <a href="/terms/" class="terms">Terms & Conditions</a>
    </div>
  </div>
</footer>
