<div class="section-divider"></div>
<footer class="footer-main">
  <div class="footer-container-1">
    <div class="story">
      <h5>Atosa</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="footer-links">
      <div class="discover">
        <h5>Discover</h5>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/products/">Products</a></li>
          <li><a href="#">Warranty</a></li>
          <li><a href="#">Go Green with atosa</a></li>
        </ul>
      </div>
      <div class="fast-links">
        <h5>Fast Links</h5>
        <div class="ul-links">
          <ul>
            <li><a href="/news/">News</a></li>
            <li><a href="/products/">Products</a></li>
            <li><a href="/specials/">Specials</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
          <ul>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/offers/">Offers</a></li>
            <li><a href="/expo/">Expo</a></li>
            <li><a href="/sign-in/">Client Area</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container-2">
    <div class="footer-content-2">
      <a href="{{ site.url }}"><div class="logo-mono"></div></a>
      <a href="" class="terms">Terms & Conditions</a>
    </div>
  </div>
</footer>
