<div class="section-divider margins-x" id="footer-divider"></div>
<footer class="footer-main">
  <div class="footer-container-1 paddings-x">
    <div class="story">
      <h5>Atosa</h5>
      <p>Fondata da Mr. Alan Cheng nel 2003, Atosa Leading Manufacturing Company è leader nella produzione di refrigerazione commerciale, banchi preparazione cibi e pizza, freezer, showcase, scaldavivande e accessori per buffet, gastronorm, fry top, friggitrici a gas, hot equipment.</p>
    </div>
    <div class="footer-links">
      <div class="discover">
        <h5>Discover</h5>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/products/">Prodotti</a></li>
          <li><a href="/under-construction/">Warranty</a></li>
          <li><a href="/under-construction/">Go Green with Atosa</a></li>
        </ul>
      </div>
      <div class="fast-links">
        <h5>Fast Links</h5>
        <div class="ul-links">
          <ul>
            <li><a href="/products/">Prodotti</a></li>
            <li><a href="/news/">News</a></li>
            <li><a href="/under-construction/">Offerte</a></li>
            <li><a href="/download/">Download</a></li>
          </ul>
          <ul>
            <li><a href="/expo/">Expo</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contatti</a></li>
            <li><a href="/under-construction/">Client Area</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container-2 paddings-x">
    <div class="footer-content-2">
      <a href="{{ site.url }}"><div class="logo-mono"></div></a>
      <a href="/terms/" class="terms">Terms & Conditions</a>
    </div>
  </div>
</footer>
