<div class="side-bar hide">
  <div class="side-bar-menu">
    <ul>
      {% for menu in site.data.settings.menus %}
      <li>
        <a href="{{ menu.url }}" class="link-menu">{{ menu.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="side-bar-overlay hide"></div>

<navbar class="nav-main">
  <div class="nav-main-container paddings-x">
    <a href="{{ site.url }}"><div class="logo"></div></a>
    <a href="{{ site.url }}"><div class="logo-small hide"></div></a>
    <div class="menu">
      <ul>
        {% for menu in site.data.settings.menus %}
        <li>
          <a href="{{ menu.url }}" class="link-menu">{{ menu.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="ux-btn">
      <div class="btn-container">
        <div class="btn-icon search-btn" title="Search">
          <span><i class="material-icons">&#xE8B6;</i></span>
        </div>
        <div class="btn-icon" title="User area">
          <a href="/under-construction/"><i class="material-icons">&#xE7FD;</i></a>
        </div>
      </div>
    </div>
    <form class="search-form hide" action="/search/" method="get">

      <button class="search-btn-confirm" type="input"><i class="material-icons">search</i></button>

      <input class="search-input search-box" type="text" name="query" placeholder="Search Atosa Italy">

      <button class="search-btn-close" type="button"><i class="material-icons">close</i></button>

    </form>
  </div>
</navbar>

<navbar class="nav-main" id="nav-ipad">
  <div class="nav-main-container paddings-x">
    <a href="{{ site.url }}"><div class="logo"></div></a>
    <a href="{{ site.url }}"><div class="logo-small hide"></div></a>
    <div class="menu menu-ipad">
      <ul>
        {% for menu in site.data.settings.menus %}
        <li>
          <a href="{{ menu.url }}" class="link-menu">{{ menu.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="menu-collapse hide">
      <span><i class="material-icons">menu</i></span>
    </div>

    <div class="ux-btn">
      <div class="btn-container">
        <div class="search-btn" class="btn-icon" title="Search">
          <span><i class="material-icons">&#xE8B6;</i></span>
        </div>
        <div class="btn-icon" title="User area">
          <a href="/sign-in/"><i class="material-icons">&#xE7FD;</i></a>
        </div>
      </div>
    </div>
    <form class="search-form hide" action="/search/" method="get">

      <button class="search-btn-confirm" type="input"><i class="material-icons">search</i></button>

      <input class="search-input search-box" type="text" name="query" placeholder="Search Atosa Italy">

      <button class="search-btn-close" type="button"><i class="material-icons">close</i></button>

    </form>
  </div>
</navbar>

<navbar class="nav-main" id="nav-mobile">
  <div class="nav-main-container paddings-x">
    <a href="{{ site.url }}"><div class="logo"></div></a>
    <a href="{{ site.url }}"><div class="logo-small hide"></div></a>
    <div class="menu menu-ipad">
      <ul>
        {% for menu in site.data.settings.menus %}
        <li>
          <a href="{{ menu.url }}" class="link-menu">{{ menu.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="menu-collapse hide">
      <span><i class="material-icons">menu</i></span>
    </div>

    <div class="ux-btn">
      <div class="btn-container">
        <div class="search-btn" class="btn-icon" title="Search">
          <span><i class="material-icons">&#xE8B6;</i></span>
        </div>
        <div class="btn-icon" title="User area">
          <a href="/sign-in/"><i class="material-icons">&#xE7FD;</i></a>
        </div>
      </div>
    </div>
    <form class="search-form hide" action="/search/" method="get">

      <button class="search-btn-confirm" type="input"><i class="material-icons">search</i></button>

      <input class="search-input search-box" type="text" name="query" placeholder="Search Atosa Italy">

      <button class="search-btn-close" type="button"><i class="material-icons">close</i></button>

    </form>
  </div>
</navbar>
<div class="scroll-fixer-mobile"></div>
