<navbar class="nav-main">
  <div class="nav-main-container">
    <a href="{{ site.url }}"><div class="logo"></div></a>
    <a href="{{ site.url }}"><div class="logo-small hide"></div></a>
    <div class="menu">
      <ul>
        {% for menu in site.data.settings.menus %}
        <li>
          <a href="{{ menu.url }}" class="link-menu">{{ menu.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="ux-btn">
      <div class="btn-container">
        <div class="btn-icon" title="Search">
          <a href=""><i class="material-icons">&#xE8B6;</i></a>
        </div>
        <div class="btn-icon" title="User area">
          <a href="/sign-in/"><i class="material-icons">&#xE7FD;</i></a>
        </div>
      </div>
    </div>
  </div>
</navbar>
