<div class="section-title paddings-x"><a href="/news/">news</a></div>
<div class="news-single news-home paddings-all">
  <div class="news-single-container">
    {% for new in site.news %}
      {% if forloop.last %}
      <a href="{{ new.url }}"><div class="post-image" style="background-image: url( {{ new.img }} )"></div></a>
      <div class="post-content">
        <h1>{{ new.title }}</h1>
        <h3>{{ new.subtitle }}</h3>
        <p>{{ new.excerpt }}</p>
      </div>
      <div class="read-more"><a href="{{ new.url }}">Read more</a></div>
      {% else %}
        {% continue %}
      {% endif %}
    {% endfor %}
  </div>
</div>
<div id="divider-news-home" class="section-divider margins-x"></div>
