<div class="offers-home paddings-x">
  <div class="section-title"><a href="/offers/">offers</a></div>
  <div class="offers-home-container" id="offers-home-selector">
    {% for product in site.products limit: 4 %}
      {% if product.offers == true %}
        <div class="product-card paddings-all">
          <a href="{{ product.url }}">
            <div class="product-content-container">
              <div class="card-image"><img src="{{ product.img }}" alt=""></div>
              <h2>{{ product.name }}</h2>
              <p>{{ product.family }}</p>
              <p>{{ product.code }}</p>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div id="divider-offers-home" class="section-divider margins-x"></div>
