<div class="products-home paddings-x">
  <div class="section-title"><a href="/products/">products</a></div>
  <div class="products-home-container">
    {% for category in site.data.settings.categories limit:6 %}
    <div class="products-home-card paddings-all">
      <a href="{{ category.url }}">
        <div class="card-content-container">
          <div class="card-image"><img src="{{ category.img }}" alt=""></div>
          <h2>{{ category.name }}</h2>
          <p>{{ category.description }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="section-divider margins-x"></div>
