<div class="specials-home">
  <div class="section-title"><a href="">specials</a></div>
  <div class="specials-home-container">
    {% for home-special in site.data.settings.home-specials limit: 4 %}
      <div class="specials-home-card" style="background-color: {{ home-special.card-color }}">
        <a href="{{ home-special.url }}">
          <div class="specials-content-container">
            <div class="card-icon"><img src="{{ product.img }}" alt=""></div>
            <h2>{{ home-special.name }}</h2>
            <p>{{ home-specials.description }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="specials-home-container-big">
    <div class="specials-home-card-big">

    </div>
  </div>
</div>
