.news
  max-width: 1216px
  margin: 0 auto
  cursor: default

  .news-container
    width: 100%
    height: 100%

    .post-container
      position: relative
      margin: 50px 0

      .post-date
        position: absolute
        width: 20%
        height: 100%
        color: $color-black-alternative
        font-family: 'Roboto Mono', monospace

      .post-content-container
        max-width: 50%
        margin-left: 20%
        position: relative

        .post-image
          width: 100%
          height: 380px
          background-repeat: no-repeat
          background-size: cover
          margin-bottom: 25px

        .post-content

          h1
            font-size: 30px

          h3
            font-size: 20px
            margin: 5px 0
            margin-bottom: 25px

          p
            font-size: 17px

.news-single
  max-width: 1216px
  margin: 20px auto
  padding: 32px
  cursor: default

  .news-single-container
    width: 100%
    height: 100%

    .post-image
      width: 100%
      height: 700px
      background-repeat: no-repeat
      background-size: cover
      margin-bottom: 40px

    .post-content
      max-width: 100%

      .post-date
        position: relative
        margin-bottom: 20px
        color: $color-black-alternative
        font-family: 'Roboto Mono', monospace
