.offers-home
  position: relative
  max-width: 1280px
  margin: 0 auto
  margin-bottom: 50px

  .offers-home-container
    width: 100%
    display: flex
    flex-wrap: wrap
    align-content: flex-start
