---
layout: default
title: Atosa Italy - Vetrine Refrigerate
permalink: /products/vetrine-refrigerate/
description:
---
{% include navbar.html %}

<div class="product paddings-x scroll-fixer-controll">
  <div class="section-title"><a href="/products/vetrine-refrigerate/">vetrine refrigerate</a></div>
  <div class="product-container">
    {% for product in site.products %}
      {% if product.family == 'Vetrine Refrigerate' %}
        <div class="product-card paddings-all">
          <a href="{{ product.url }}">
            <div class="product-content-container">
              <div class="card-image"><img src="{{ product.img }}" alt=""></div>
              <h2>{{ product.name }}</h2>
              <p>{{ product.family }}</p>
              <p>{{ product.code }}</p>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% include footer.html %}
