---
layout: default
title: Atosa Italy - Prodotti
---
{% include navbar.html %}

<div class="products-home paddings-x scroll-fixer-controll">
  <div class="section-title"><a href="/products/">prodotti</a></div>
  <div class="products-home-container">
    {% for category in site.data.settings.categories limit: 7%}
    <div class="products-home-card paddings-all">
      <a href="{{ category.url }}">
        <div class="card-content-container">
          <div class="card-image"><img src="{{ category.img }}" alt=""></div>
          <h2>{{ category.name }}</h2>
          <p>{{ category.description }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% include footer.html %}
