<!DOCTYPE html>
<html lang="it">
<head>
  <!-- Visualization Tags -->
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta http-equiv="cache-control" content="public">

  <!-- Base SEO Meta Tags -->
  <title>{{ page.title }}</title>
  <meta content="{{ page.description }}" name="description">
  <meta name="keyword" content="">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">

  <!-- Share Tags -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Atosa Italy">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="/assets/img/atosa_logo_icon.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Atosa Italy">
  <meta name="twitter:site" content="@">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="images/share.png">
  <meta property="og:url" content="index.html">


  <!-- Author & Copyright -->
  <meta name="author" content="Tommaso Negri">
  <link rel="team" type="text/plain" href="/humans.txt">
  <meta name="copyright" content="&copy; 2017 Atosa Italy">

  <!-- Favicon & Mobile Icons -->
  <link rel="icon" sizes="192x192" type="image/png" href="/assets/img/atosa_logo_icon.png">
  <link rel="shortcut icon" type="image/x-icon" type="image/png" href="/assets/img/atosa_logo_icon.png">

  <!-- Apple Human Interface -->
  <meta name="apple-mobile-web-app-title" content="Atosa Italy">
  <link rel="mask-icon" href="/assets/img/atosa_logo_mono.svg" color="#E30613">
  <link rel="apple-touch-startup-image" sizes="1242x2208" href="/assets/img/apple/launch-screen/atosa-apple-launch-screen-iphone-plus.png">
  <link rel="apple-touch-startup-image" sizes="750x1334" href="/assets/img/apple/launch-screen/atosa-apple-launch-screen-iphone.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple/atosa-apple-icon-iphone-3x.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple/atosa-apple-icon-iphone-2x.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/img/apple/atosa-apple-icon-ipad-pro.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple/atosa-apple-icon-ipad.png">

  <!-- Style Sheets -->
  <link rel="stylesheet" href="/assets/css/main.css">

  <style media="screen">
    *, *::after, *::before {
      box-sizing: border-box;
    }

    html {
      font-size: 62.5%;
    }

    body {
        font-size: 1.6rem;
        font-family: 'Roboto Mono', monospace; // variables inside partials > _variables.scss
        color: #424242;
        background-color: white;
      }

    a {
      text-decoration: none;
    }
  </style>

  <!-- 404 Page Redirect -->
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="8; url=/">
  {% endif %}

</head>
<body lang="it">
  <script src="https://use.fontawesome.com/24f3f62327.js"></script>

{{content}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/functions.js"></script>
<script type="text/javascript" src="/assets/js/timeline.js">

</script>
<script type="text/javascript">
  var kkeys = [], konami = "38,38,40,40,37,39,37,39,66,65";

  $(document).keydown(function(e) {

  kkeys.push( e.keyCode );

  if ( kkeys.toString().indexOf( konami ) >= 0 ) {

    $(document).unbind('keydown',arguments.callee);

    // do something awesome
    $(".front-banner .front-banner-container .front-banner-post-image").html('<iframe width="1280" height="720" src="https://www.youtube.com/embed/BBGEG21CGo0?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1;iv_load_policy=3" frameborder="0" allowfullscreen style="width: 100%; height: 100%"></iframe>');

  }

  });
</script>
<script src="/assets/js/search.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
$(document).ready(function searchResizer(){
  if ($(window).width() > 1024) {
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: '/search.json'
    });
  };

  if ($(window).width() < 1024 && $(window).width() > 640) {
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input-2'),
      resultsContainer: document.getElementById('results-container-2'),
      json: '/search.json'
    });
  };

  if ($(window).width() < 640) {
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input-3'),
      resultsContainer: document.getElementById('results-container-3'),
      json: '/search.json'
    });
  }
});

$(window).resize(function() {
  if ($(window).width() > 1024) {
    $('#search-input-2').val('');
    $('#search-input-3').val('');
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: '/search.json'
    });
  };

  if ($(window).width() < 1024 && $(window).width() > 640) {
    $('#search-input').val('');
    $('#search-input-3').val('');
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input-2'),
      resultsContainer: document.getElementById('results-container-2'),
      json: '/search.json'
    });
  };

  if ($(window).width() < 640) {
    $('#search-input').val('');
    $('#search-input-2').val('');
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input-3'),
      resultsContainer: document.getElementById('results-container-3'),
      json: '/search.json'
    });
  }
});
</script>
</body>
</html>
